.bg-overlay {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #000;
    opacity: .5;
    z-index: 1;
}
.opacity-65 {
    opacity: .6 !important;
}
.bg-overlay-content {
    display: block;
    position: relative;
    z-index: 5;
}
.bg-overlay-content {background: url(../images/digital.jpg);background-position: center;background-size: cover;}
